<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"
      ><i class="fa-regular fa-compass"></i
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      <div class="search-bar ms-auto">
        <form action="/listings" class="d-flex" role="search" method="get">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Find by location "
            aria-label="Search"
            name="location"
          />
          <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add new listings</a>
        <% if(!currUser){%>
        <a class="nav-link" aria-current="page" href="/signup"
          ><h5>Sign up</h5></a
        >
        <a class="nav-link" href="/login"><h5>Login</h5></a>
        <% } %> <% if(currUser){ %>
        <a class="nav-link" href="/logout"><h5>Log out</h5></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>
